@charset "ISO-8859-1";

/*Estilos CSS p�gina principal*/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}

table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

body{
    background-color: #CF0C0C;
    background: linear-gradient(180deg,#F0F0F0, #F0F0F0);
}


#CabeceraPaginaPrincipal{
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    font-family: Verdana;
    font-size: 50px;
    
}


#TablaPrincipal{
    color: white;
    margin:auto;  
    
}


#Boton_Entrar_Principal{
    text-align: center;
    /*border-color: #12AA0B;*/
    /*color: black;*/	
    width: 100px;
    height:40px;
    transition: width .5s;
    background-color: rgba(82, 202, 89, .3);
    top: 10px;
    color: black;
    text-align: center;
    
}

#Boton_Entrar_Principal:hover{
	background-color:#12AA0B;
	width: 130px;
 	height: 3em;
        color:white;
}




#txtUsuario{
    width: 75%;
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #1d5f0a;
}

#txtContra{
    width: 75%;
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #1d5f0a;
}


h2{
	color:white;
}

h1{
	color:white;
}


#contenedorprincipal{
	background:red;
	width:30%;
	padding:10px 10px;
	box-shadow:  1px 1px 8px grey;
	border-radius: 21px;
	background: linear-gradient(180deg,white, white);
	-webkit-backdrop-filter: blur(20px);
}

#IMGLogoPrincipal:hover{
    opacity: .5;
    width:30%;
    
}

#IMGLoginPaginaPrincipal:hover{
    opacity: .7;
}
.figur{
	float:left;
}

.destacar{
	
	border-radius: 15px;
	padding: 2px;
	background: #626262;
	-webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;
	box-shadow: #878686 10px 25px 25px;
	margin: 0 65px 65px 0;
}


.destacar:hover{
	-webkit-transform:scale(1.2);
}

figcaption{
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size:1.1em;
	padding: 0px 65px 65px 0px ;
}

#navegacionPrincipal{
	clear:both;
}


footer{
	clear:both;
	padding-top: 100px;
}

footer p{
	font:1.6em Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color:#5F5D5D;
	margin:5px 10px;
	
}

#LiLogoSalida{
	padding-left:450px;
	clear:both;
}

/*Consulta Clientes*/

#TablaClientes{
    
    width: 95%;
    margin-top: 20px;
    background-color:white;
    box-shadow:  1px 1px 10px gray;
    
}

#TablaProductos{
    width: 80%;
    margin-top: 20px;
    background-color:white;
    box-shadow:  1px 1px 10px gray;
}

tr{
    border-radius: 10px;
    
}
tr:hover{
	-webkit-transform:scale(1.02);
        box-shadow: 0.5px 2px 10px #00C20C; 
        font-weight: bolder;
}


.EfectosReporteria{
    background-color: #D5D5D5;
    box-shadow: 1px 1px 40px gray;
}

#contendorIngresoClientes{
        
    width: 40%;   
    background:white;
    padding:50px 50px;
    box-shadow:  1px 1px 8px grey;
    border-radius: 21px;
}

#contenedorIngresoProductos{
    width: 40%;   
    background:white;
    padding:50px 50px;
    box-shadow:  1px 1px 8px grey;
    border-radius: 21px;
}

#contenedorOrdendeCompra{
    width: 70%;   
    background:white;
    padding:50px 50px;
    box-shadow:  1px 1px 8px grey;
    border-radius: 21px;
    
}


/*Estilos pagina princpal*/

#header{
    margin:auto;
    width: 100%;
    
}

ul, ol{
    list-style: none;
}

.nav li a{
    backgroud-color:#000;
    color:"#fff";
    text-decoration: none;
    display:block;
}
.nav > li{
    float:left;
    margin: 0px 60px 0px 0px;
    color:white;
}

.nav>ul{
    
}
.nav>li:hover{
    color:gray;
}


.nav li ul{
    display:none;
    position: absolute;
    min-width: 200px;
    background-color: #232525;
}

.nav li a:hover{
    background-color:black;
    -webkit-transform:scale(1.02);
    box-shadow:  1px 1px 5px white;
    border-radius: 4px;
    font-weight: bold;
    color:black;
    -webkit-transition: -webkit-transform 0.05s ease-in-out 0.05s;
   
}
.nav li:hover>ul{
    display:block;
}

.navbar-nav{
    opacity: 0.95;
    border-radius: 5px;
    
}



/*Estilos navegacion pagina ingreso clientes y productos*/


#header1{
    margin:auto;
    width: 100%;
    
}


ul, ol{
    list-style: none;
}

.navegacionotraspaginas li a    {
    color:white;
    text-decoration: none;
    
}

.navegacionotraspaginas li{
    float:left;
    margin: 0px 15px 0px 0px;
    color:white;
}


.navegacionotraspaginas li{
    min-width: 140px;
}

.navegacionotraspaginas li :hover{
    -webkit-transform:scale(1.03);
    box-shadow:  1px 1px 7px white;
    border-radius: 4px;
    font-weight: normal;
    color:white;
    border-bottom-color: white;
    -webkit-transition: -webkit-transform 0.005s ease-in-out 0.005s;
}

.navbar-nav{
    
    border-radius: 5px;
    
}



/* ------------------------- */
/* VENTA EMERGENTE */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 700px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}


